<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="uk.ac.bham.cs.stroppykettle_v2"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk
            android:minSdkVersion="16"
            android:targetSdkVersion="17"/>

    <!-- Amarino Required Code -->
    <uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"></uses-permission>

    <application
            android:name=".StroppyKettleApplication"
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        <activity
                android:name=".ui.activities.AdminActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.activities.MonitorActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.activities.SettingsActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.activities.GameStroppyActivity"
                android:launchMode="singleTop"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.activities.CupsStroppyActivity"
                android:launchMode="singleTop"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.activities.BoilingStroppyActivity"
                android:launchMode="singleTop"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.activities.LoginStroppyActivity"
                android:clearTaskOnLaunch="true"
                android:label="@string/app_name"
                android:launchMode="singleTop"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <provider
                android:name=".provider.StroppyKettleProvider"
                android:authorities="uk.ac.bham.cs.stroppykettle_v2"
                android:exported="false"/>

        <!-- Amarino Required Code -->
        <service android:name="at.abraxas.amarino.AmarinoService"/>

        <service android:name=".services.WeightService"/>
    </application>

</manifest>